@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  background: #f1f5f9;
  color: #1e293b;
}

input,
select,
textarea {
  border: 1px solid #d1d5db;
  border-radius: 10px;
  padding: 12px;
  width: 100%;
  outline: none;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 2px #c7d2fe;
}

table {
  background: white;
  border-radius: 12px;
  overflow: hidden;
}